$color-white: #ffffff; // (alias)
$color-black: #141414; // (alias)
$color-blue: #2270ee; // (alias)
$color-blue-grey: #8c9ca5; // (alias)
$color-orange: #ff9116; // (alias)
$color-yellow: #ffc902; // (alias)
$color-green: #1fbc70; // (alias)
$color-cyan: #08bfdf; // (alias)
$color-purple: #6954c0; // (alias)
$color-red: #f94d32; // (alias)
$color-magenta: #b52d88; // (alias)
$color-blue-100: #ecf4fd;
$color-blue-200: #a9d1ff;
$color-blue-300: #3684f5;
$color-blue-400: #2270ee;
$color-blue-500: #1360d9;
$color-blue-600: #004cc3;
$color-neutral-0: #ffffff;
$color-neutral-10: #fcfcfc;
$color-neutral-20: #fafafa;
$color-neutral-30: #f7f7f7;
$color-neutral-40: #f5f5f5;
$color-neutral-50: #eeeeee;
$color-neutral-60: #dfe0e1;
$color-neutral-70: #bcbcbd;
$color-neutral-80: #9e9ea0;
$color-neutral-90: #737475;
$color-neutral-100: #606162;
$color-neutral-200: #444445;
$color-neutral-300: #2d2e31;
$color-neutral-400: #141414;
$color-blue-grey-100: #eaeff2;
$color-blue-grey-200: #d0d8dd;
$color-blue-grey-300: #b4c1c8;
$color-blue-grey-400: #8c9ca5;
$color-blue-grey-500: #6a7a85;
$color-blue-grey-600: #576671;
$color-orange-100: #fff2dc;
$color-orange-200: #ffcc80;
$color-orange-300: #ffa23a;
$color-orange-400: #ff9116;
$color-orange-500: #ee8400;
$color-orange-600: #df7600;
$color-yellow-100: #fff9e2;
$color-yellow-200: #fff0b1;
$color-yellow-300: #ffe278;
$color-yellow-400: #ffc902;
$color-yellow-500: #ffbe00;
$color-yellow-600: #de9500;
$color-green-100: #e1fdef;
$color-green-200: #90efc0;
$color-green-300: #60dfa6;
$color-green-400: #1fbc70;
$color-green-500: #18a761;
$color-green-600: #10864b;
$color-cyan-100: #e3fcff;
$color-cyan-200: #b1f3fa;
$color-cyan-300: #13ceea;
$color-cyan-400: #08bfdf;
$color-cyan-500: #0ca5c0;
$color-cyan-600: #038299;
$color-purple-100: #f1edff;
$color-purple-200: #c1b6f2;
$color-purple-300: #8772e5;
$color-purple-400: #6954c0;
$color-purple-500: #4f3a9e;
$color-purple-600: #422799;
$color-red-100: #ffece9;
$color-red-200: #ffb2a0;
$color-red-300: #ff745f;
$color-red-400: #f94d32;
$color-red-500: #e63717;
$color-red-600: #bf2a00;
$color-magenta-100: #fbeaf5;
$color-magenta-200: #faafe2;
$color-magenta-300: #d949a9;
$color-magenta-400: #b52d88;
$color-magenta-500: #982071;
$color-magenta-600: #7d165b;

$spacing-0: 0;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 48px;
$spacing-6: 64px;
$spacing-7: 96px;
$spacing-8: 128px;
$spacing-half: 4px;
